@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #2b2b2b;
}

.search {
    float: right;
}

.perfil {
    float: left;
}

#perfil_img {
    height: 7vh;
    width: 7vh;
}

#username {
    height: 7vh;
    font-size: 2vh;
    font-family: Poppins, sans-serif;
}

#input1 {
    color: #fff;
    border-radius: 10vh;
    height: 7vh;
    width: 30vh;
    font-size: 1vh;
    padding-left: 1vh;
    font-family: Poppins, sans-serif;
}

#btn1 {
    background-color: #4f4f4f;
    color: #fff;
    border-radius: 10vh;
    height: 7vh;
    width: 15vh;
    font-size: 1vh;
    text-align: center;
    font-family: Poppins, sans-serif;
}
